@page

<h1>If you type "/Page" in the url you should be able to see this!</h1>

<b>The page starts with an at symbol and "page", you can also get the current date time with @DateTime.Now </b>

@{
    var i = 2 + 2;
}

<p>This is how we do math, @i pm </p>

